[submodule "roles/network-dmvpn"]
	path = roles/network-dmvpn
	url = git@github.com:ismc/ansible-network-dmvpn.git
[submodule "roles/cloudbuilder"]
	path = roles/cloudbuilder
	url = git@github.com:ismc/ansible-cloudbuilder.git
